---
---
@import 'bourbon';
// @import '_variables';
@import '_typography';
// @import '_solarized';

// BEGIN HEADER STYLES
$light-trans-grey: rgba(203, 203, 203, 0.32);
$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;
$mobile-header-color-black: #333333;
$mobile-pillar-b-background: #efefef;

.header-logo {
  height: 100%;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  // background-color: #00294b;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin-left:36px;
  margin-right: 0px;
}

.electrode-nav-top {
  // background: none;
  background-color: #00294b;
  border: none;
  padding-top: 1.7em;
  padding-bottom: 1em;
  border-bottom: 1px solid $light-trans-grey;
  font-weight: 500;
  font-size: 1.145em;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.inverse-colors {
    color: white;
    a, p, h1, h2, h3, h4 {
      color: white;
    }
}
.night-sky {
  background-color: #00294b;
  padding: 0;
  margin: 0;
}
.social-nav-links {
  li {
    border-radius: 4px;
    margin-top: -30px;
    padding-top: 20px;
    margin-right: 1em;

    a {
      img {
        width: 24px;
        height:22px;
      }
    }
  }
}

.header-mountains img {
  width: 100%;
  margin-top: -2em;
  margin-bottom: -2px;
}
.pillars-section {
  background-color: white;
  padding: 0;
  margin-top: 25em;
}
// .pillars-section {
//   background-color: white;
// }

.pillar-icon {
  text-align: center;
  img {
    width: 75%;
  margin-top: -16.2em;
  }
}
.header-content {
  font-family: "Gotham-Rounded";
  background-image: url("/img/sky.svg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;


  .logo-text {
    font-size: 10.5em;
    text-align: center;
    color: white;
    letter-spacing: 23px;
    font-weight: 200;
    margin-top: .1em;
    padding: 0;
    padding-bottom: .2em;
    img {
      width: 100%;
    }
  }
  .slogan {
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 5px;
    border-top: 1px solid $light-trans-grey;
    border-bottom: 1px solid $light-trans-grey;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: -.6em;
    text-align: center;
  }
  .header-info {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 1.5em;
    padding: 0;
    text-align: justify;
  }
  .header-button {
    margin-top: 2em;
    font-weight: 600;
    font-size: 1.3em;
    background-color: #df2375;
    padding-top: .6em;
    padding-bottom: .6em;
    text-align: center;
    border-radius: 3px;
  }
}
.social-nav-links li:nth-child(2) {
  margin-left: .5em;
  background-color: #eb3d4e;
}
.social-nav-links li:nth-child(3) {
  background-color: #1686c0;
}
.social-nav-links li:nth-child(4) {
  background-color: white;
}

.primary-nav-links li {
  margin-right: 4em;
}
.electrode-brand-top {
  padding: 12px;
}
.vert-divider {
  position: absolute;
  width: 0px;
  height: 100%;
  border-left: 1px solid $light-trans-grey;
  margin-top: -15px;
  margin-left: -15px;
}
//END HEADER STYLES


//PILLAR STYLES
.pillar-content {
  h1 {
    text-align: center;
  }
  p{
    margin: 20px 0 40px;
  }
  a {
    border-radius: 8px;
    border: 1px solid #d62470;
    background-color: #df2375;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
    color: #ffffff;
    padding:10px;
    margin-left: 30%;

  }
}

//BEGIN CORE STYLES
.electrode-core {
  text-align: center;
  font-family: "Gotham-Rounded";

  h1 {
    font-family: "Gotham-Rounded-Medium";
  }

  h3 {
    padding: 0% 10% 0% 10%;
  }

  div {
    padding: 10px 0px 10px 0px;
  }

  h4 {
    font-family: "Gotham-Rounded-Bold";
    padding: 0px 25% 0px 12%;
  }

  #electrode-core-text {
    text-align: left;
    padding-right: 10%;
    font-size: 120%;

    div {
      padding-bottom: 7%;
    }
  }

  #electrode-header {
    background: linear-gradient(#00203b, #032a4a);
  }
}

#snippet-bubble {
  float: right;
  font-weight: bold;
  border-radius: 4px;
  background-color: #f4f4f4;
  border: solid 1px #cccccc;
  text-align: left;
  top: 0px;
  width: 100%;
  height: 450px;
  z-index: 2;

  .snippet-bubble-text {
    font-size: 110%;
    padding: 10px 0px 10px 4%;
    font-size: 120%;
    text-align:left;
  }

  h3 {
    text-align: center;
    padding: 0px;
  }

  #deploy-msg {
    text-align: left;
  }

  #details-btn {
    color: #141e26;
    background: inherit;
    border: solid 2px #141e26;
    font-family: "Gotham-Rounded-Bold";
  }

  #deploy-btn {
    font-family: "Gotham-Rounded-Bold";
    background: $primary;
    color: white;
  }
}

#code-snippet {
  background-color: #141e26;
  color: white;
  padding: 2% 0% 2% 0%;
  text-align: left;
  width: 80%;
  margin: 0 auto;

  p {
    padding-left: 5%;
    font-size: 110%;
  }
}

.grayscale{
  filter: grayscale(100%);
  width: 8%;
  height: auto;
  display: block;
  margin: auto;
}

//END CORE STYLES


//BEGIN MODULES STYLES
.landing-logo{
  width: 125px;
  height: 125px;
  margin: -10px -20px 7px -20px;
}

.electrode-modules {
  text-align: center;

  .icon-modules {
    filter: grayscale(100%);
    height: 100px;
    width: 100px;
  }

  .electrode-modules-list {
    list-style: none;
    margin-top: 100px;
    padding-bottom: 400px;
    text-align: left;

    .module-title {
      font-weight: bold;
    }

    .icon-module {
      filter: grayscale(100%);
      margin: 60px 0 0 20px;
      width: 80px;
    }

    li {
      border-bottom: 1px #ECECEC solid;
      padding-bottom: 20px;
    }
  }

  .electrode-modules-background {
    background-image: url("https://host-logos.firebaseapp.com/dotio/module_laptop_graphic_@1x.png");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .electrode-modules-image {
    float: left;

    img {
      width: 400px;
    }
  }
}
.row {
  margin: 0px;
}
//BEGIN TOOLS STYLES
.electrode-tools {
  margin-top: -80px;
  text-align: center;

  .icon-modules {
    filter: grayscale(100%);
    height: 100px;
    width: 100px;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 1150px;
    background-image: url("https://host-logos.firebaseapp.com/dotio/tools_landscape_@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 550px;

    .tool-title {
      margin-top: 40px;
      border-top: 1px #ECECEC solid;
      margin-bottom: 80px;
      position: relative;
      text-align: left;

      .github-logo {
        float: right;

        img {
          filter: invert(100%);
        }
      }
    }

    .image {
      width: 90%;
      height: 90%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .image-electrode-explorer {
      background-image: url("https://host-logos.firebaseapp.com/dotio/explorer_laptop_graphic_@1x.png");
    }

    .image-electrode-electrify {
      background-image: url("https://host-logos.firebaseapp.com/dotio/bundle_laptop_graphic_@1x.png");
    }
  }

  .carousel-control {
    span {
      position: absolute;
      top: 35%;
      background-color: #cccccc;
      background-image: url("https://host-logos.firebaseapp.com/dotio/arrow_@1x.png");
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }

    span:hover {
      background-color: #df2375;
    }

    .button-previous {
      left: 40px;
    }

    .button-next {
      right: 40px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
}
//END TOOLS STYLES

// BEGIN FOOTER STYLES

.container-fluid {
  padding: 0px;
}

.navbar-brand {
  margin: 10px 0px;
}

.footer {
  background-color: #1D1D1D !important;

  .footer-text {
    float: left;
    font-size: 14px;
    color: #c4c4c4;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Gotham-Rounded";
  }
}

#footer-walmart-logo {
  width: 55%;
  height: auto;
  margin-left: -15px;
}

.footer-sub-logo {
  width: 20%;
  height: auto;
}

#footer-nav {
  display: inline-block;
}

a.footer-text {
  color: #c4c4c4;
  font-family: "Gotham-Rounded";
  font-weight: bold;
  font-size: 20px;
}

.footer-sub-logo {

}

#doc-logos {
  width: 400px;
}

#electrode-footer {
  padding: 30px 0 30px 0;
  margin: 0;
}

#footer-nav-center {
  margin-top: 35px;
}

#footer-nav-right {
  margin-top: 30px;
  background-color: #1d1d1d !important;
}

.social-logo {
  padding-right: 20px;
  padding-right: 20px;
}

.footer-sub-logo {
  height: 50px;
  width: auto;
}

.footer-text.bottom {
  margin-bottom: -5px;
}

.pocket-logo {
  background-color: #eb3d4e;
  border-radius: 0 0 0.5em 0.5em;
  height: 60px;
  width: 35px;
  margin-right: 70px;
  img {
    width: 1.3em;
    margin-top: 25px;
    margin-left: -5px;
  }
}

.twitter-logo {
  background-color: #1686c0;
  border-radius: 0 0 0.5em 0.5em;
  height: 60px;
  width: 35px;
  margin-right: 20px;
  img {
    width: 1.3em;
    margin-top: 25px;
    margin-left: -5px;
  }
}

.github-logo {
  background-color: #3a3a3a;
  border-radius: 0 0 0.5em 0.5em;
  height:60px;
  width: 35px;
  img {
    width: 1.3em;
    margin-top: 25px;
    background-color: white;
    color: #3a3a3a;
    margin-left: -5px;
  }
}

div.footer-row {
  margin: 15px -40px 0 15px;
}

div.footer-docs {
  padding-top: 20px;

  .footer-doc-links {
    color: #fff;
    // font-weight: bold;
    font-size: 14px;
    font-family: "Gotham-Rounded";

    #doc-link-right: {
      margin-left: -10px;
    }
  }
}

#footer-twitter {
  margin-left: -50px;
}

div.footer-vertical-line {
  margin-top: -20px;
  height: 100px;
  width: 0px;
  position: relative;
  border-left: 1px solid #2c2c2c;
}

img.footer-sub-logo {
  filter: invert(1);
  margin-top: 5px;
}

@media (min-width: 769px) {
  .container {
    width: 96%;
  }
}

#second-nav {
  background: #fff;
  margin-top: -20px;
  border-bottom: 1px solid #333;

  .second-nav-links {
    font-weight:bold;
    .dark-links {
      color: #333;
    }
  }

  .second-nav-links-container {
    float:right;
  }

  #get-started {
    background: $primary;
    color: white !important;
    &.focus {
      background: $primary;
    }
  }

  #electrode-brand-header {
    width: 50%;
    height: auto;
    margin-top: -10px;
  }

  #second-nav-social-img {
    padding-left: 20px;
  }

  .second-nav-inner-links {
    padding: 0px 10px 10px 0px;

    img {
      width: 75%;
    }
  }
}

//START MOBILE VIEW

.pillars-section-2-mobile {
  width: 100%;

  #pillars-mobile-container {
    display: inline-block;
    text-align: center;
    min-width: 320px;

    .mobile-header-items {
      position: relative;
      float: left;
      color: $mobile-header-color-black;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 18px;
      font-family: "Gotham-Rounded";
      font-weight: 600;
    }

    .selected{
      padding-bottom: 6px !important;
      border-bottom: 4px solid #38bbff
    }
  }
}

#moible-pillar-content-zone {
  padding: 6px 5%;
  line-height: 1.4;
  font-size: 14px;
  font-family: "Gotham-Rounded";

  .mobile-content-heading {
    font-family: "Gotham-Rounded";
    font-weight: 600;
  }
}

.mobile-pillar-bar {
  width: 100%;
  height: 4px;
  margin-top: -9px;
  margin-bottom: 10px;
  background-color: $mobile-pillar-b-background;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
}

@media (max-width: 767px) {
  .pillars-section-2,
  .electrode-core,
  .electrode-tools,
  .electrode-modules,
  #second-nav,
  #electrode-modules {
    display: none;
  }

  #snippet-bubble {
    height: 310px;
    margin-bottom: 10px;
    text-align: center;

    .snippet-bubble-text {
      font-size: 14px;
      text-align: center;
      margin: 10px;
      padding: 0;
    }
  }

  #code-snippet {
    font-size: 12px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .pillars-section-2-mobile,
  #moible-pillar-content-zone {
    display: none;
  }
}
