---
---
@import 'bourbon';
@import '_variables';
@import '_typography';

//BEGIN HEADER STYLES
// .header-logo {
//   height: 100%;
// }
// html {
//   -webkit-font-smoothing: antialiased;
// }
// body {
//   // background-color: #00294b;
//   font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
// }
// .electrode-nav-top {
//   // background: none;
//   background-color: #00294b;
//   border: none;
//   padding-top: 1em;
//   padding-bottom: 1em;
//   border-bottom: 1px solid rgba(179, 179, 179, 0.11);
//   font-weight: 400;
//   font-size: 1.1em;
//   letter-spacing: 1px;
//   margin-bottom: 0;
// }
// .inverse-colors {
//     color: white;
//     a, p, h1, h2, h3, h4 {
//       color: white;
//     }
// }
// .social-nav-links {
//   li {
//     border-radius: 4px;
//     margin-top: -20px;
//     padding-top: 20px;
//     margin-right: 1em;
//
//     a {
//       img {
//         width: 1.3em;
//         max-height: 1.3em;
//       }
//     }
//   }
// }
// .header-backdrop {
//   position: absolute;
//   /* left: 0; */
//   /* right: 0; */
//   z-index: -1;
//   display: block;
//   height: 53em;
//   width: 100%;
//   top: 62px;
//   background-color: #00294b;
//   .header-sky img {
//     width: 100%;
//     margin-top: -4em;
//     opacity: 0.7;
//   }
//   .header-mountains img {
//     width: 100%;
//     margin-top: 14em;
//     position: absolute;
//     bottom: 0;
//   }
// }
// .header-mountains-2 img {
//   width: 100%;
//   margin-top: -25em;
// }
// .pillars-section {
//   background-color: white;
//   padding: 0;
//   margin-top: 25em;
// }
// .pillars-section {
//   background-color: white;
// }
// .header-content {
//   .logo-text {
//     font-size: 10.5em;
//     text-align: center;
//     color: white;
//     letter-spacing: 23px;
//     font-weight: 200;
//     margin-top: -8px;
//     padding: 0;
//   }
//   .slogan {
//     font-size: 1.6em;
//     font-weight: 200;
//     letter-spacing: 5px;
//     border-top: 1px solid rgba(179,179,179,0.11);
//     border-bottom: 1px solid rgba(179,179,179,0.11);
//     padding-top: .5em;
//     padding-bottom: .5em;
//     margin-top: -.6em;
//     text-align: center;
//   }
//   .header-info {
//     font-size: 1.2em;
//     margin-top: 1.5em;
//     padding: 0;
//     text-align: justify;
//   }
//   .header-button {
//     margin-top: 2em;
//     font-weight: 600;
//     font-size: 1.3em;
//     background-color: #df2375;
//     padding-top: .6em;
//     padding-bottom: .6em;
//     text-align: center;
//     border-radius: 3px;
//   }
// }
// .social-nav-links li:nth-child(2) {
//   margin-left: .5em;
//   background-color: #eb3d4e;
// }
// .social-nav-links li:nth-child(3) {
//   background-color: #1686c0;
// }
// .social-nav-links li:nth-child(4) {
//   background-color: white;
// }
//
// .primary-nav-links li {
//   margin-right: 3em;
// }
// .electrode-brand-top {
//   padding: 12px;
// }
// .vert-divider {
//   position: absolute;
//   width: 0px;
//   height: 100%;
//   border-left: 1px solid rgba(179, 179, 179, 0.11);
//   margin-top: -15px;
//   margin-left: -15px;
// }
// //END HEADER STYLES
//
//
// //BEGIN CORE STYLES
// .electrode-core {
//   text-align: center;
//   font-family: "Gotham-Rounded";
//
//   div {
//     padding: 10px 0px 10px 0px;
//   }
//
//   h3 {
//     padding: 0px 25% 0px 25%;
//   }
//
//   .electrode-core-text {
//     text-align: left;
//     padding: 15px 20px 15px 20px;
//     font-size: 120%;
//   }
//
//
//
//   #snippet-bubble {
//     border: solid 1px #cccccc;
//     left: 75px;
//     top: 0px;
//     width: 60%;
//     height: auto;
//     z-index: 2;
//     font-size: 80%;
//
//     .snippet-bubble-text {
//       padding: 10px 0px 10px 0px;
//       font-size: 120%;
//       text-align:left;
//     }
//
//     div {
//       padding: 0px;
//     }
//
//     h3 {
//       text-align: center;
//       padding: 0px;
//     }
//
//     #deploy-msg {
//       text-align: left;
//     }
//
//     #details-btn {
//       color: #141e26;
//       background: white;
//       border: solid 2px #141e26;
//     }
//
//     #deploy-btn {
//       background: $primary;
//       color: white;
//     }
//   }
// }
// //END CORE STYLES
//
//
// //BEGIN MODULES STYLES
// .landing-logo{
//   width: 125px;
//   height: 125px;
//   margin: -10px -20px 7px -20px;
// }
//
// .electrode-modules {
//   text-align: center;
//
//   .icon-modules {
//     filter: grayscale(100%);
//     height: 100px;
//     width: 100px;
//   }
//
//   .electrode-modules-list {
//     list-style: none;
//     margin-top: 100px;
//     padding-bottom: 400px;
//     text-align: left;
//
//     .module-title {
//       font-weight: bold;
//     }
//
//     .icon-module {
//       filter: grayscale(100%);
//       margin: 60px 0 0 20px;
//       width: 80px;
//     }
//
//     li {
//       border-bottom: 1px #ECECEC solid;
//       padding-bottom: 20px;
//     }
//   }
//
//   .electrode-modules-background {
//     background-image: url("https://host-logos.firebaseapp.com/dotio/module_laptop_graphic_@1x.png");
//     background-size: 95%;
//     background-repeat: no-repeat;
//     background-position: bottom left;
//   }
//
//   .electrode-modules-image {
//     float: left;
//
//     img {
//       width: 400px;
//     }
//   }
// }
// //END MODULES STYLES
//
//
//
//
//
//
//
//
// // BEGIN FOOTER STYLES
// .footer {
//   background-color: #1D1D1D !important;
//
//   .footer-text {
//     float: left;
//     font-size: 12px;
//     color: #c4c4c4;
//     margin-bottom: 0px;
//     padding-bottom: 0px;
//     font-family: "Gotham-Rounded";
//   }
// }
//
// #footer-walmart-logo {
//   width: 40%;
//   height: auto;
//   margin-left: -15px;
// }
//
// .footer-sub-logo {
//   width: 20%;
//   height: auto;
// }
//
// #footer-nav {
//   display: inline-block;
// }
//
// a.footer-text {
//   color: #c4c4c4;
//   font-family: "Gotham-Rounded";
//   font-weight: bold;
//   font-size: 20px;
// }
//
// .footer-sub-logo {
//
// }
//
// #doc-logos {
//   width: 400px;
// }
//
// #electrode-footer {
//   padding: 0 0 10px 10px;
// }
//
// #footer-nav-center {
//   margin-top: 35px;
//   margin-left: -60px;
// }
//
// #footer-nav-right {
//   margin-top: 30px;
//   background-color: #1d1d1d !important;
// }
//
// .social-logo {
//   padding-right: 20px;
//   padding-right: 20px;
// }
//
// .footer-sub-logo {
//   height: 40px;
//   width: auto;
// }
//
// .footer-text.bottom {
//   margin-bottom: -5px;
// }
//
// .twitter-logo {
//   background-color: #1686c0;
//   border-radius: 0 0 0.5em 0.5em;
//   height: 60px;
//   width: 35px;
//   margin-right: 20px;
//   img {
//     width: 1.3em;
//     margin-top: 25px;
//     margin-left: -5px;
//   }
// }
//
// .github-logo {
//   background-color: #3a3a3a;
//   border-radius: 0 0 0.5em 0.5em;
//   height:60px;
//   width: 35px;
//   img {
//     width: 1.3em;
//     margin-top: 25px;
//     background-color: white;
//     color: #3a3a3a;
//     margin-left: -5px;
//   }
// }
//
// div.footer-row {
//   margin: 0 -40px 0 120px;
// }
//
// div.footer-docs {
//   padding-top: 15px;
//
//   .footer-doc-links {
//     color: #c4c4c4;
//     // font-weight: bold;
//     font-size: 14px;
//     font-family: "Gotham-Rounded";
//
//     #doc-link-right: {
//       margin-left: -10px;
//     }
//   }
// }
//
// #footer-twitter {
//   margin-left: -50px;
// }
//
// div.footer-vertical-line {
//   margin-top: -20px;
//   height: 100px;
//   width: 0px;
//   position: relative;
//   border-left: 1px solid #2c2c2c;
// }
//
// img.footer-sub-logo {
//   filter: invert(1);
//   margin-top: 5px;
// }

//END FOOTER STYLES



//ORIGINAL STYLES
// ---
// ---
// @import 'bourbon';
// @import '_variables';
// @import '_typography';
// @import '_solarized';

@mixin code-typography {
  font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace;
  font-size: 13px;
  line-height: 1.5;
}

$skinnyContentWidth: 650px;
$contentWidth: 920px;
$contentPadding: 20px;
$columnWidth: 280px;
$columnGutter: 40px;
$twoColumnWidth: 2 * $columnWidth + $columnGutter;
$navHeight: 50px;



// basic reset
* {
  @include box-sizing(border-box);
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: $pageBg;
}

.left {
  float: left;
}

.right {
  float: right;
}


.container {
  padding-top: $navHeight;
  min-width: $contentWidth + (2 * $contentPadding);
}

.wrap {
  width: $contentWidth + (2 * $contentPadding);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.skinnyWrap {
  width: $skinnyContentWidth + (2 * $contentPadding);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

ul,
li {
  margin-left: 20px;
}

li + li {
  margin-top: 10px;
}

// Make header navigation linkable and on the screen. Used in documentation and
// blog posts.
h1, h2, h3, h4, h5, h6 {
  .anchor {
    margin-top: -$navHeight;
    position: absolute;
  }

  &:hover .hash-link {
    display: inline;
  }
}
.hash-link {
  color: $mediumTextColor;
  display: none;
}

// Main Nav

.nav-main {
  @include clearfix;
  background: linear-gradient($darkerColor, $darkestColor);
  color: $lightTextColor;
  position: fixed;
  top: 0;
  height: $navHeight;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  width: 100%;
  z-index: 100;

  a {
    color: $lightColor;
    text-decoration: none;
  }

  .nav-site-internal {
    margin: 0 0 0 20px;
  }

  .nav-site-external {
    float: right;
    margin: 0;
  }

  .nav-site {
    li {
      margin: 0;
    }

    li > a {
      box-sizing: content-box;
      padding: 0 10px;
      line-height: $navHeight;
      display: inline-block;
      height: $navHeight;
      color: #ddd;

      &:hover {
        color: #fff;
      }

      &.active {
        color: $lightTextColor;
        border-bottom: 3px solid $primary;
        background: #333;
      }
    }
  }

  .nav-home {
    color: #e9e9e9;
    font-size: 24px;
    line-height: $navHeight;
    height: $navHeight;
    display: inline-block;
  }

  .nav-logo {
    vertical-align: middle;
    display: inline-block;
  }

  ul {
    display: inline-block;
    vertical-align: top;
  }

  li {
    display: inline;
  }
}



.buttons-unit {
  margin-top: 60px;
  text-align: center;

  a {
    color: $blueColor;
  }

  .button {
    font-size: 24px;
    background: $primary;
    color: $lightTextColor;

    &:active {
      background: darken($primary, 5%);
    }
  }
}

// Docs Nav

.nav-docs {
  color: $darkColor;
  font-size: 14px;
  // position: fixed;
  float: left;
  width: 214px;

  ul {
    list-style: none;
    margin: 0;
  }
  ul ul {
    margin: 6px 0 0 20px;
  }
  li {
    line-height: 16px;
    margin: 0 0 6px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 14px;
  }
  a {
    color: $mediumestColor;
    display: block;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    &.active {
      color: $primary;
    }

    &.external {
      &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        padding-left: 5px;
        @include retina-image('../img/external', 10px 10px);
        background-position: 100% 0;
        background-repeat: no-repeat;
        font-size: 10px;
        line-height: 1em;
        opacity: 0.5;
      }
    }
  }

  .nav-docs-section {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #eee;
    padding: 12px 0;

    &:first-child {
       padding-top: 0;
       border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

}

.nav-blog {
  li {
    margin-bottom: 5px;
  }
}

// Home Page specifics

.home-section {
  margin: 50px 0;
}

.home-divider {
  border-top-color: #bbb;
  margin: 0 auto;
  width: 400px;
}

.skinny-row {
  @include clearfix;
}

.skinny-col {
  float: left;
  margin-left: $columnGutter;
  width: ($skinnyContentWidth - $columnGutter) / 2;
  &:first-child {
    margin-left: 0;
  }
}

#examples h3, .home-presentation h3 {
  color: $darkColor;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

#examples {
  p {
    margin: 0 0 25px 0;
    max-width: $twoColumnWidth;
  }

  .example {
    margin-top: 60px;
  }

  #todoExample {
    font-size: 14px;
    ul {
      list-style-type: square;
      margin: 0 0 10px 0;
    }
    input {
      border: 1px solid #ccc;
      font: 14px proxima-nova, $helvetica;
      padding: 3px;
      width: 150px;
    }
    button {
      font: 14px proxima-nova, $helvetica;
      margin-left: 5px;
      padding: 4px 10px;
    }
  }

  #markdownExample {
    textarea {
      border: 1px solid #ccc;
      font: 14px proxima-nova, $helvetica;
      margin-bottom: 10px;
      padding: 5px;
    }
  }
}

.home-bottom-section {
  margin-bottom: 100px;
}

.docs-nextprev {
  @include clearfix;
}

.docs-prev {
  float: left;
}

.docs-next {
  float: right;
}

footer {
  font-size: 13px;
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 18px;
  overflow: auto;
}

section.black content {
  padding-bottom: 18px;
}

/**
 * Blog
 */

.blogContent {
  @include clearfix;

  padding-top: 20px;

  blockquote {
    padding: 5px 15px;
    margin: 20px 0;
    background-color: #f8f5ec;
    border-left: 5px solid #f7ebc6;
  }

  h2 > code {
    font-size: inherit;
    line-height: inherit;
    color: #555;
    background-color: rgba(0,0,0,0.04);
  }
}

/**
 * Docs
 */

.documentationContent {
  @include clearfix;

  .subHeader {
    font-size: 24px;
  }


  // H2s form documentation topic dividers. Extra space helps.
  h2 {
    margin-top: 30px;
  }

  padding-top: 20px;

  // Make a notice box out of blockquotes in the documentation:
  blockquote {
      padding: 15px 30px 15px 15px;
      margin: 20px 0;
      background-color: rgba(204, 122, 111, 0.09999999999999998);
      border-left: 5px solid #db2975;
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    // Treat first child as the title - promote to H4.
    p:first-child {
      font-weight: bold;
      font-size: 14.5px;
      line-height: 20px;
      margin-top: 0;
      text-rendering: optimizelegibility;
    }
  }
}

.docs-prevnext {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Button */

.button {
  @include background(linear-gradient($buttonGreyTop, $buttonGreyBottom));
  // border: 1px solid $darkestColor;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  // word-spacing: -2px;
  // letter-spacing: 1px;
  display: inline-block;
  color: $lightTextColor;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
  }
}

.hero {
  .button {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  }
}

.button.blue {
  @include background(linear-gradient($buttonBlueTop, $buttonBlueBottom));
}


/* Row */

.row {
  padding-bottom: 4px;
}

.row .span4 {
  width: 33.33%;
  display: table-cell;
}

.row .span8 {
  width: 66.66%;
  display: table-cell;
}

.row .span6 {
  width: 50%;
  display: table-cell;
}


/* Content */

p {
  margin: 10px 0;
}

.highlight {
  padding: 10px;
  margin-bottom: 20px;
}

figure {
  text-align: center;
}

.inner-content {
  float: right;
  width: $skinnyContentWidth;
}

.nosidebar .inner-content {
  float: none;
  margin: 0 auto;
}

h1 {
  // Contains .edit-page-link
  @include clearfix;
}

.edit-page-link {
  float: right;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 17px;
}

/* Blog */

.post-list-item + .post-list-item {
  margin-top: 60px;
}


.hll {
  background-color: #f7ebc6;
  border-left: 5px solid #f7d87c;
  display: block;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 9px;
}

/* CodeMirror doesn't support <jsx> syntax. Instead of highlighting it
   as error, just ignore it */
.highlight .javascript .err {
  background-color: transparent;
  color: inherit;
}

.highlight {
  position: relative;
  margin-bottom: 14px;
  padding: 30px 14px 14px;
  border: none;
  border-radius: 0;
  overflow: auto;
}


.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  float: left;
  min-width: 100%;
}

.highlight pre code {
  /* Respect line-height defined in <code> styles above */
  display: block;

  /* Cancel out styles for `li code` in case we have a <pre> within an <li>. */
  background: none;
  padding: 0;
}

.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  color: #bebec5;
  text-align: right;
}

/* Echo out a label for the example */

.highlight:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #c2c0bc;
  background-color: #f1ede4;
  content: "Code";
}

.downloadCenter {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.downloadSection:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 960px) {
  .nav-main {
    position: static;
  }
  .container {
    padding-top: 0;
  }
}

.post {
  margin-bottom: 30px;
}

.post img {
  max-width: 100%;
}

.pagination {
  margin-bottom: 30px;

  /* Trick to get the wrapper to expand to fit floating elements */
  width: 100%;
  overflow: hidden;

  .next {
    float: right;
  }
}

.logo-blue{
  color: $textLogoBlue;
}

.logo-orange{
  color: $textLogoOrange;
}


small code,
li code,
p code {
  color: #555;
  background-color: rgba(0, 0, 0, .04);
  padding: 1px 3px;
}

small a code,
li a code,
p a code {
  color: inherit;
}

.cm-s-default span.cm-string-2 {
  color: inherit;
}

//end original styles
