---
---
@import 'bourbon';
// @import '_variables';
@import '_typography';
// @import '_solarized';

// BEGIN HEADER STYLES
$light-trans-grey: rgba(203, 203, 203, 0.32);
$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;
$mobile-header-color-black: #333333;
$mobile-pillar-b-background: #efefef;

.header-logo {
  height: 100%;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  // background-color: #00294b;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  margin-left:36px;
  margin-right: 0px;
}

.electrode-nav-top {
  // background: none;
  background-color: #00294b;
  border: none;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid $light-trans-grey;
  font-weight: 500;
  font-size: 1.145em;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.inverse-colors {
    color: white;
    a, p, h1, h2, h3, h4 {
      color: white;
    }
}

.night-sky {
  padding: auto;
  background-color: #00294b;
  background-image: url("/img/sky.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.social-nav-links {
  li {
    border-radius: 4px;
    margin-top: -26px;
    padding-top: 30px;
    margin-right: 1em;

    a {
      img {
        width: 24px;
        height:22px;
      }
    }
  }
}

.header-mountains img {
  width: 100%;
  margin-top: 3em;
  margin-bottom: -2px;
  background: #00294b;
}
.pillars-section {
  background-color: white;
  padding: 0;
  margin-top: 25em;
}
// .pillars-section {
//   background-color: white;
// }

.pillar-icon {
  text-align: center;
  img {
    width: 75%;
  margin-top: -16.2em;
  }
}

.header-content {
  font-family: "Gotham-Rounded";
  background-position: center 27px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 68%;
  margin: 0 auto;
  text-align: center;

  #deploy-in-five {
    display: none;
  }

  img {
    width: 100%;
  }

  .logo-text {
    font-size: 10.5em;
    color: white;
    letter-spacing: 23px;
    font-weight: 200;
    margin-top: .1em;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: .2em;
  }
  .slogan {
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 5px;
    border-top: 1px solid $light-trans-grey;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: -.6em;
  }
  .header-info {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 1.5em;
    padding: 0;
    border-bottom: 1px solid $light-trans-grey;
  }

  #about-electrode {
    background: transparent;
    border: 1px solid white;
  }

  .header-button {
    font-family: "Gotham-Rounded-Medium";
    margin-top: 2em;
    font-weight: 600;
    font-size: 1.3em;
    background-color: #df2375;
    padding-top: .6em;
    padding-bottom: .6em;
    text-align: center;
    border-radius: 3px;
  }
}

@media (max-width: 1279px){
  .header-info {
    padding: 0%;
  }
}

.social-nav-links li:nth-child(2) {
  margin-left: .5em;
  background-color: #eb3d4e;
}
.social-nav-links li:nth-child(3) {
  background-color: #1686c0;
}
.social-nav-links li:nth-child(4) {
  background-color: white;
}

.navbar-right~.navbar-right {
  margin-right: 6%;
}

.primary-nav-links {
  margin-top: 1em;

  li {
    margin-right: 3em;
  }

  @media (max-width: 980px) {
    li {
      margin-right: 1em;
    }
  }
}

.electrode-brand-top {
  padding: 12px;
}

.vert-divider {
  position: absolute;
  width: 0px;
  height: 100%;
  border-left: 1px solid $light-trans-grey;
  margin-top: -24px;
  margin-left: -15px;
}
//END HEADER STYLES

//PILLAR STYLES
.pillar-content {
  h1 {
    text-align: center;
  }

  p{
    margin: 20px 0 40px;
  }

  a {
    border-radius: 8px;
    border: 1px solid #d62470;
    background-color: #df2375;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
    color: #ffffff;
    padding:10px;
    margin-left: 30%;
  }
}

//BEGIN CORE STYLES

@media only screen and (max-width: 1656px){
  .electrode-core {
     #core-h3 {
       padding: 0% 10% 0% 10% !important;
      }

    #electrode-core-text {
      div {
        padding-bottom: 3%;
      }
    }
  }
}

.electrode-core {
  text-align: center;
  font-family: "Gotham-Rounded";
  padding: 50px 0px 50px 0px;

  h1 {
    font-family: "Gotham-Rounded-Medium";
  }

  #core-h3 {
    padding: 0% 25% 0% 25%;
  }

  div {
    padding: 10px 0px 10px 0px;
  }

  h4 {
    font-family: "Gotham-Rounded-Bold";
    padding: 0px 25% 0px 12%;
  }

  #electrode-core-text {
    text-align: left;
    padding-right: 10%;
    font-size: 120%;

    div {
      padding-bottom: 7%;
    }
  }

  #electrode-header {
    background: linear-gradient(#00203b, #032a4a);
  }
}

#snippet-bubble {
  float: right;
  font-weight: bold;
  border-radius: 4px;
  background-color: #f4f4f4;
  border: solid 1px #cccccc;
  text-align: left;
  top: 0px;
  width: 100%;
  height: 450px;
  z-index: 2;

  .snippet-bubble-text {
    font-size: 110%;
    padding: 10px 0px 10px 4%;
    font-size: 120%;
    text-align:left;
  }

  h3 {
    text-align: center;
    padding: 0px;
  }

  #deploy-msg {
    text-align: left;
  }

  #details-btn {
    color: #141e26;
    background: inherit;
    border: solid 2px #141e26;
    font-family: "Gotham-Rounded-Bold";
  }

  #deploy-btn {
    font-family: "Gotham-Rounded-Bold";
    background: $primary;
    color: white;
  }
}

#code-snippet {
  background-color: #141e26;
  color: white;
  padding: 2% 0% 2% 0%;
  text-align: left;
  width: 80%;
  margin: 0 auto;

  p {
    padding-left: 5%;
    font-size: 110%;
  }
}

.grayscale{
  filter: grayscale(100%);
  width: 8%;
  height: auto;
  display: block;
  margin: auto;
}

//END CORE STYLES


//BEGIN MODULES STYLES
.landing-logo{
  width: 125px;
  height: 125px;
  margin: -10px -20px 7px -20px;
}

.electrode-modules {
  text-align: center;

  .icon-modules {
    filter: grayscale(100%);
    height: 100px;
    width: 100px;
  }

  .electrode-modules-list {
    list-style: none;
    margin-top: 100px;
    padding-bottom: 400px;
    text-align: left;

    .module-title {
      font-weight: bold;
    }

    .icon-module {
      filter: grayscale(100%);
      margin: 60px 0 0 20px;
      width: 80px;
    }

    li {
      border-bottom: 1px #ECECEC solid;
      padding-bottom: 20px;
    }
  }

  .electrode-modules-background {
    background-image: url("https://host-logos.firebaseapp.com/dotio/module_laptop_graphic_@1x.png");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .electrode-modules-image {
    float: left;

    img {
      width: 400px;
    }
  }
}
.row {
  margin: 0px;
}
//BEGIN TOOLS STYLES
.electrode-tools {
  margin-top: -80px;
  text-align: center;

  .icon-modules {
    filter: grayscale(100%);
    height: 100px;
    width: 100px;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 1150px;
    background-image: url("https://host-logos.firebaseapp.com/dotio/tools_landscape_@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 550px;

    .tool-title {
      margin-top: 40px;
      border-top: 1px #ECECEC solid;
      margin-bottom: 80px;
      position: relative;
      text-align: left;

      .github-logo {
        float: right;

        img {
          filter: invert(100%);
        }
      }
    }

    .image {
      width: 90%;
      height: 90%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .image-electrode-explorer {
      background-image: url("https://host-logos.firebaseapp.com/dotio/explorer_laptop_graphic_@1x.png");
    }

    .image-electrode-electrify {
      background-image: url("https://host-logos.firebaseapp.com/dotio/bundle_laptop_graphic_@1x.png");
    }
  }

  .carousel-control {
    span {
      position: absolute;
      top: 35%;
      background-color: #cccccc;
      background-image: url("https://host-logos.firebaseapp.com/dotio/arrow_@1x.png");
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }

    span:hover {
      background-color: #df2375;
    }

    .button-previous {
      left: 40px;
    }

    .button-next {
      right: 40px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
}
//END TOOLS STYLES

// BEGIN FOOTER STYLES

.container-fluid {
  padding: 0px;
}

.navbar-brand {
  margin: 10px 0px;
}

.footer {
  background-color: #1D1D1D !important;

  .footer-text {
    float: left;
    font-size: 14px;
    color: #c4c4c4;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Gotham-Rounded";
  }
}

#footer-walmart-logo {
  width: 55%;
  height: auto;
  margin-left: -15px;
}

.footer-sub-logo {
  width: 20%;
  height: auto;
}

#footer-nav {
  display: inline-block;
}

a.footer-text {
  color: #c4c4c4;
  font-family: "Gotham-Rounded";
  font-weight: bold;
  font-size: 20px;
}

.footer-sub-logo {

}

#doc-logos {
  width: 400px;
}

#electrode-footer {
  padding: 30px 0 30px 0;
  margin: 0;
}

#footer-nav-center {
  margin-top: 35px;
}

#footer-nav-right {
  margin-top: 30px;
  background-color: #1d1d1d !important;
}

.social-logo {
  padding-right: 20px;
  padding-right: 20px;
}

.footer-sub-logo {
  height: 50px;
  width: auto;
}

.footer-text.bottom {
  margin-bottom: -5px;
}

.pocket-logo {
  background-color: #eb3d4e;
  border-radius: 0 0 0.5em 0.5em;
  height: 60px;
  width: 35px;
  margin-right: 70px;
  img {
    width: 1.3em;
    margin-top: 25px;
    margin-left: -5px;
  }
}

.twitter-logo {
  background-color: #1686c0;
  border-radius: 0 0 0.5em 0.5em;
  height: 60px;
  width: 35px;
  margin-right: 20px;
  img {
    width: 1.3em;
    margin-top: 25px;
    margin-left: -5px;
  }
}

.github-logo {
  background-color: #3a3a3a;
  border-radius: 0 0 0.5em 0.5em;
  height:60px;
  width: 35px;
  img {
    width: 1.3em;
    margin-top: 25px;
    background-color: white;
    color: #3a3a3a;
    margin-left: -5px;
  }
}

div.footer-row {
  margin: 15px -40px 0 15px;
}

div.footer-docs {
  padding-top: 20px;

  .footer-doc-links {
    color: #fff;
    // font-weight: bold;
    font-size: 14px;
    font-family: "Gotham-Rounded";

    #doc-link-right: {
      margin-left: -10px;
    }
  }
}

#footer-twitter {
  margin-left: -50px;
}

div.footer-vertical-line {
  margin-top: -20px;
  height: 100px;
  width: 0px;
  position: relative;
  border-left: 1px solid #2c2c2c;
}

img.footer-sub-logo {
  filter: invert(1);
  margin-top: 5px;
}

.nav {
  li {
    a:hover{
      background: inherit;
    }
    a {
      padding: 10px 7px;
    }
  }
}

#second-nav {
  background: #fff;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc;

  .row {
    margin-top: -2px;
  }

  .second-nav-row {
    padding-top: 15px;
  }

  #second-nav-hr {
    border-bottom: solid 1px #cccccc;
  }

  .second-nav-top-pad {
    padding-top: 20px;
  }

  .second-nav-top-pad-double {
    padding-top: 40px;
  }

  .second-nav-links {
    font-weight:bold;
    .dark-links {
      color: #333;
    }
  }

  .inner-links-ul {
    padding-right: 50px;
  }

  .outer-links-ul {
    padding-right: 20px;
  }

  .second-nav-links-container {
    float:right;
    padding-right: 3.2%;
  }

  #get-started {
    background: $primary;
    color: white !important;
    border-radius: 3px;
    border-top: solid 1px white;

    &.focus {
      background: $primary;
    }
  }

  #electrode-brand-header {
    width: 50%;
    height: auto;
    margin-top: -10px;
  }

  #second-nav-social-img {
    border-top: solid 1px white;
    padding-left: 20px;
  }

  .second-nav-inner-links {
    padding: 0px 10px 10px 0px;

    img {
      width: 75%;
      display: block;
      margin: auto;
    }
  }

  .active-inner-link {
    border-top: solid 8px #333333;
    img {
      margin-top: -7px;
    }
  }

  .inactive-inner-link {
    border-top: solid 1px #fff;

  }
}

// Global helper classes

.vertical-align-this {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//START MOBILE VIEW

.pillars-section-2-mobile {
  width: 100%;

  #pillars-mobile-container {
    display: inline-block;
    text-align: center;
    min-width: 320px;

    .mobile-header-items {
      position: relative;
      float: left;
      color: $mobile-header-color-black;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 18px;
      font-family: "Gotham-Rounded";
      font-weight: 600;
    }

    .selected{
      padding-bottom: 6px !important;
      border-bottom: 4px solid #38bbff
    }
  }
}

#moible-pillar-content-zone {
  padding: 6px 5%;
  line-height: 1.4;
  font-size: 14px;
  font-family: "Gotham-Rounded";

  .mobile-content-heading {
    font-family: "Gotham-Rounded";
    font-weight: 600;
  }
}

.mobile-pillar-bar {
  width: 100%;
	height: 4px;
  margin-top: -9px;
  margin-bottom: 10px;
	background-color: $mobile-pillar-b-background;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
}

.mobile-footer-toggle{
  border-bottom: 1px solid #333;
  height: 62px;
  min-width: 320px;
  margin-top: 30px;

  .footer-toggle-items{
    float: left;
    margin: 10px 0;
    margin-left: 5%;
    font-size: 34px;
    cursor: pointer;
  }

  .mobile-footer-getStarted-btn {
    font-family: "Gotham-Rounded-Bold";
    background: $primary;
    border: none;
    margin-right: 5%;
    border-radius: 3px;
    height: 34px;
    width: 42%;
    text-align: center;
    color: white;
    float: right;
    margin-top: 12px;
  }
}

.mobile-footer {
  font-family: "Gotham-Rounded";
  font-size: 9px;
	line-height: 1.5;
	text-align: center;
  background-color: #00294b;
	color: #ffffff;
  height: 50px;
  min-width: 320px;
  position: absolute;
  width: 100%;
  padding: 0 5%;
  margin-top: 10px;
}

.mobile-module-item {
  padding: 20px ;
  border-bottom: 1px solid #cccccc;

  .mobile-module-item-text {
    width: 80%;
    display: inline-block;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
   .pillars-section-2,
   .electrode-core,
   .electrode-tools,
   .electrode-modules,
   #second-nav,
   #electrode-modules,
   #electrode-footer,
   #social-header-color-links {
    display: none;
   }

   #snippet-bubble {
     height: 315px;
     margin-bottom: 10px;
     text-align: center;

     .snippet-bubble-text {
      font-size: 14px;
      text-align: center;
      margin: 10px;
      padding: 0;
     }
   }

   #code-snippet {
     font-size: 12px;
     width: 90%;
   }

   .header-info {
     display: none;
   }

   .slogan {
     border-bottom: 1px solid $light-trans-grey;
   }

   .header-button {
     #deploy-in-five {
       display: inline;
     }
   }

   #about-electrode {
     display: none;
   }

   .header-mountains {
     img {
       padding-top: 75px;
     }
   }
}

#mobile-pillar-content-zone {
  margin: 0 5%;
}

@media (min-width: 768px) {
   .pillars-section-2-mobile,
   .mobile-footer-toggle,
   .mobile-footer,
   .mobile-pillar-bar,

   .social-nav-links {
     padding-right: 5px;
   }

   li.mobile-header-links,
   #mobile-pillar-content-zone {
     display: none;
   }

  #electrode-core-text {
    div {
      padding-bottom: 3%;
    }
  }
}

.navbar .divider-vertical {
    height: 145px;
    margin: 0 9px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #f2f2f2;
    border-top: 8px solid #ffffff;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {

  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }

   img.header-logo {
     height: 120%;
     margin-top: 0;
   }
}

@media (max-width: 480px) {

  img.header-logo {
    height: 90%;
    margin-top: -30px;
    margin-left: -20px;
  }

  img.mob-menu {
    height: 60px;
    width: auto;
    border-radius: 4px;
    margin-top: -90px;
    margin: -90px -10px 0 0;
  }
}

@media (max-width: 380px) {

  img.header-logo {
    height: 80%;
    margin-top: -30px;
    margin-left: -20px;
  }

  img.mob-menu {
    height: 50px;
    width: auto;
    border-radius: 4px;
    margin-top: -90px;
    margin: -90px -10px 0 0;
  }
}

.mob-menu {
  height: 65px;
  width: auto;
  border-radius: 4px;
  margin-top: -70px;
  margin-right: 1em;
}

.mobile-social-links {
  height: 20px;
  width: auto;
}

.mobile-git {
  height: 30px;
  width: auto;
}

@media (min-width: 769px) {
  .container {
    width: 97%;
  }
}
