---
---
@import 'bourbon';
@import '_variables';
@import '_typography';
@import '_solarized';

@mixin code-typography {
  font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace;
  font-size: 13px;
  line-height: 1.5;
}

$skinnyContentWidth: 650px;
$contentWidth: 920px;
$contentPadding: 20px;
$columnWidth: 280px;
$columnGutter: 40px;
$twoColumnWidth: 2 * $columnWidth + $columnGutter;
$navHeight: 50px;

$light-trans-grey: rgba(203, 203, 203, 0.32);


// basic reset
* {
  @include box-sizing(border-box);
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: $pageBg;
}

body {
  font-family: "Lato", "Helvetica Rounded", Arial, sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  min-width: $contentWidth + (2 * $contentPadding);
}

.wrap {
  width: $contentWidth + (2 * $contentPadding);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.skinnyWrap {
  width: $skinnyContentWidth + (2 * $contentPadding);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

ul,
li {
  margin-left: 20px;
}

li + li {
  margin-top: 10px;
}

// Make header navigation linkable and on the screen. Used in documentation and
// blog posts.
h1, h2, h3, h4, h5, h6 {
  .anchor {
    margin-top: -$navHeight;
    position: absolute;
  }

  &:hover .hash-link {
    display: inline;
  }
}
.hash-link {
  color: $mediumTextColor;
  display: none;
}

.buttons-unit {
  margin-top: 60px;
  text-align: center;

  a {
    color: $blueColor;
  }

  .button {
    font-size: 24px;
    background: $primary;
    color: $lightTextColor;

    &:active {
      background: darken($primary, 5%);
    }
  }
}

// Docs Nav

.nav-docs {
  color: $darkColor;
  font-size: 14px;
  // position: fixed;
  float: left;
  width: 214px;

  ul {
    list-style: none;
    margin: 0;
  }
  ul ul {
    margin: 6px 0 0 20px;
  }
  li {
    line-height: 16px;
    margin: 0 0 6px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 14px;
  }
  a {
    color: $mediumestColor;
    display: block;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    &.active {
      color: $primary;
    }

    &.external {
      &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        padding-left: 5px;
        @include retina-image('../img/external', 10px 10px);
        background-position: 100% 0;
        background-repeat: no-repeat;
        font-size: 10px;
        line-height: 1em;
        opacity: 0.5;
      }
    }
  }

  .nav-docs-section {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #eee;
    padding: 12px 0;

    &:first-child {
       padding-top: 0;
       border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

}

.nav-blog {
  li {
    margin-bottom: 5px;
  }
}

// Home Page specifics

.home-section {
  margin: 50px 0;
}

.home-divider {
  border-top-color: #bbb;
  margin: 0 auto;
  width: 400px;
}

.skinny-row {
  @include clearfix;
}

.skinny-col {
  float: left;
  margin-left: $columnGutter;
  width: ($skinnyContentWidth - $columnGutter) / 2;
  &:first-child {
    margin-left: 0;
  }
}

#examples h3, .home-presentation h3 {
  color: $darkColor;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

#examples {
  p {
    margin: 0 0 25px 0;
    max-width: $twoColumnWidth;
  }

  .example {
    margin-top: 60px;
  }

  #todoExample {
    font-size: 14px;
    ul {
      list-style-type: square;
      margin: 0 0 10px 0;
    }
    input {
      border: 1px solid #ccc;
      font: 14px proxima-nova, $helvetica;
      padding: 3px;
      width: 150px;
    }
    button {
      font: 14px proxima-nova, $helvetica;
      margin-left: 5px;
      padding: 4px 10px;
    }
  }

  #markdownExample {
    textarea {
      border: 1px solid #ccc;
      font: 14px proxima-nova, $helvetica;
      margin-bottom: 10px;
      padding: 5px;
    }
  }
}

.home-bottom-section {
  margin-bottom: 100px;
}

.docs-nextprev {
  @include clearfix;
}

.docs-prev {
  float: left;
}

.docs-next {
  float: right;
}

footer {
  font-size: 13px;
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 18px;
  overflow: auto;
}

section.black content {
  padding-bottom: 18px;
}

/**
 * Blog
 */

.blogContent {
  @include clearfix;

  padding-top: 20px;

  blockquote {
    padding: 5px 15px;
    margin: 20px 0;
    background-color: #f8f5ec;
    border-left: 5px solid #f7ebc6;
  }

  h2 > code {
    font-size: inherit;
    line-height: inherit;
    color: #555;
    background-color: rgba(0,0,0,0.04);
  }
}

/**
 * Docs
 */

.documentationContent {
  @include clearfix;

  .subHeader {
    font-size: 24px;
  }


  // H2s form documentation topic dividers. Extra space helps.
  h2 {
    margin-top: 30px;
  }

  padding-top: 20px;

  // Make a notice box out of blockquotes in the documentation:
  blockquote {
      padding: 15px 30px 15px 15px;
      margin: 20px 0;
      background-color: rgba(204, 122, 111, 0.09999999999999998);
      border-left: 5px solid #db2975;
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    // Treat first child as the title - promote to H4.
    p:first-child {
      font-weight: bold;
      font-size: 14.5px;
      line-height: 20px;
      margin-top: 0;
      text-rendering: optimizelegibility;
    }
  }
}

.docs-prevnext {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Button */

.button {
  @include background(linear-gradient($buttonGreyTop, $buttonGreyBottom));
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: $lightTextColor;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
  }
}

.hero {
  .button {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  }
}

.button.blue {
  @include background(linear-gradient($buttonBlueTop, $buttonBlueBottom));
}


/* Row */

.row {
  padding-bottom: 4px;
}

.row .span4 {
  width: 33.33%;
  display: table-cell;
}

.row .span8 {
  width: 66.66%;
  display: table-cell;
}

.row .span6 {
  width: 50%;
  display: table-cell;
}


/* Content */

p {
  margin: 10px 0;
}

.highlight {
  padding: 10px;
  margin-bottom: 20px;
}

figure {
  text-align: center;
}

.inner-content {
  float: right;
  width: $skinnyContentWidth;
}

.nosidebar .inner-content {
  float: none;
  margin: 0 auto;
}

h1 {
  // Contains .edit-page-link
  @include clearfix;
}

.edit-page-link {
  float: right;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 17px;
}

/* Blog */

.post-list-item + .post-list-item {
  margin-top: 60px;
}


.hll {
  background-color: #f7ebc6;
  border-left: 5px solid #f7d87c;
  display: block;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 9px;
}

/* CodeMirror doesn't support <jsx> syntax. Instead of highlighting it
   as error, just ignore it */
.highlight .javascript .err {
  background-color: transparent;
  color: inherit;
}

.highlight {
  position: relative;
  margin-bottom: 14px;
  padding: 30px 14px 14px;
  border: none;
  border-radius: 0;
  overflow: auto;
}


.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  float: left;
  min-width: 100%;
}

.highlight pre code {
  /* Respect line-height defined in <code> styles above */
  display: block;

  /* Cancel out styles for `li code` in case we have a <pre> within an <li>. */
  background: none;
  padding: 0;
}

.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  color: #bebec5;
  text-align: right;
}

/* Echo out a label for the example */

.highlight:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #c2c0bc;
  background-color: #f1ede4;
  content: "Code";
}

.downloadCenter {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.downloadSection:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 960px) {
  .nav-main {
    position: static;
  }
  .container {
    padding-top: 0;
  }
}

.post {
  margin-bottom: 30px;
}

.post img {
  max-width: 100%;
}

.pagination {
  margin-bottom: 30px;

  /* Trick to get the wrapper to expand to fit floating elements */
  width: 100%;
  overflow: hidden;

  .next {
    float: right;
  }
}

.logo-blue{
  color: $textLogoBlue;
}

.logo-orange{
  color: $textLogoOrange;
}


small code,
li code,
p code {
  color: #555;
  background-color: rgba(0, 0, 0, .04);
  padding: 1px 3px;
}

small a code,
li a code,
p a code {
  color: inherit;
}

.cm-s-default span.cm-string-2 {
  color: inherit;
}


/* begin new header styles */


#main-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#top-header {
  width: 100%;
  border-bottom:1px solid $light-trans-grey;
  background-color: #00294b;
  min-width: 975px;
}

.navbar {
  margin:0 !important;
}

.electrode-nav-top {
  padding-bottom:20px;
  font-weight: 500;
  font-size: 1.145em;
  letter-spacing: 1px;
  padding-left: 30px;

  @media (max-width: 768px) {
    padding-bottom:0;
  }

  #nav-electrode-logo {
    width: 224px;
    height: 40px;
  }

  #header-logo {
    @media(max-width: 1200px) {
      width:90%
    }
    @media(max-width: 1120px) {
      width:80%
    }
    @media(max-width: 1000px) {
      width:70%
    }
    @media(max-width: 767px) {
      width:100%
    }
    @media(max-width: 380px) {
      width:80%
    }
  }
}

.inverse-colors {
    color: white;
    a, p, h1, h2, h3, h4 {
      color: white;
    }
}

.electrode-brand-top {
  padding-top: 38px;
  @media (max-width: 768px) {
    padding-top:10px;
  }
}



.social-nav-links {
  li {
    border-radius: 4px;
    margin-top: -4px;
    margin-right: 1em;
    height: 79px;
    @media(max-width: 820px) {
      margin-right: 0.5em;
    }
    &:hover {
      a {
        img {
          transform: scale(1.2);
        }
      }
    }
    a {
      padding: 34px 12px 18px 12px;
      &:hover {
        background-color: inherit;
      }
      @media(max-width: 820px) {
        padding: 34px 8px 18px 8px;
      }
      img {
        width: 24px;
        height:22px;
        transition: transform .3s ease-in-out;
      }
    }
  }
}

.social-nav-links li:nth-child(2) {
  // margin-left: .5em;
  background-color: #eb3d4e;
}
.social-nav-links li:nth-child(3) {
  background-color: #1686c0;
}
.social-nav-links li:nth-child(4) {
  background-color: white;
}

.vert-divider {
  position: absolute;
  width: 0px;
  height: 100%;
  border-left: 1px solid $light-trans-grey;
  margin-left: -22px;
}

.primary-nav-links {
  li {
    a {
      font-family: "Gotham-Rounded-Bold";
      padding: 41px 97.5px 0 0;
      transition: all .3s ease-in-out;
      &:focus {
        background-color: inherit;
        outline: none;
      }
      @media(min-width: 768px) {
        &:hover {
          background-color: inherit;
          font-weight: 900;
          text-shadow: 0px 0px 15px #adebff;
          color: #fcffea;
        }
      }
      @media(max-width: 1200px) {
        padding: 45px 70px 0 0;
      }
      @media(max-width: 1120px) {
        padding: 45px 60px 0 0;
      }
      @media(max-width: 1000px) {
        padding: 45px 50px 0 0;
        font-size: 1em;
      }
      @media(max-width: 992px) {
        padding: 45px 30px 0 0;
        font-size: 0.9em;
      }
      @media(max-width: 820px) {

      }
      @media(max-width: 700px) {

      }
      &:hover {
        background-color: inherit;
      }
    }
  }
  #contribute a {
    padding-right: 0;
  }
  #home-primary:before {
    content: '';
    background-color: white;
    width: 95px;
    height: 8px;
    margin-bottom: -8px;
    display: block;
    margin-left: -21.5px;
    @media(max-width:768px) {
      display:none;
    }

  }
  #home-primary {
    a {
      margin-top: 10px;
    }
  }
}

/* mobile styles */

#mob-menu-button,
.mobile-header-links,
.mobile-internal-links {
  cursor: pointer;
}

.navbar-toggle {
  padding:0 !important;
  margin-bottom:0 !important;
}

.mob-menu {
  height: 65px;
  width: auto;
  border-radius: 4px;
  margin-top: -26px;
  margin-right: 0.5em;
}

img.mob-menu {
  height: 60px;
  width: auto;
  border-radius: 4px;
}

.mobile-social-links {
  height: 20px;
  width: auto;
}

.mobile-git {
  height: 30px;
  width: auto;
}

.mobile-internal-links {
  padding: 10px 0;
}



#mobile-header-info,
.mobile-header-items {
  font-weight: bold;
}

/* queries */


@media (max-width: 380px) {

  img.header-logo {
    height: 80%;
  }

  div#mobile-slogan {
    font-size: 18px;
  }

}

@media (max-width: 767px) {
   .pillars-section-2,
   .electrode-core,
   .electrode-tools,
   .electrode-modules,
   #second-nav,
   #electrode-modules,
   #modules-section,
   #electrode-footer,
   #social-header-color-links {
    display: none;
   }

   #snippet-bubble {
     height: auto;
     margin-bottom: 12px;
     text-align: center;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 12px;

     h4 {
       padding-top: 5px;
       font-size: 18px;
       font-family: Gotham-Rounded-Medium;
     }

     padding-left: 20px;
     padding-right: 20px;

     h4 {
       font-size: 18px;
     }

     .snippet-bubble-text {
      font-size: 15px;
      margin-top: 10px;
      text-align: left;
      margin-bottom: 10px;
      padding: 0;
     }
   }

   #code-snippet {
     font-size: 12px;
     width: 100%;
     padding: 2% 0 0 0;

     h4 {
       font-size: 18px;
     }
   }

   .header-info {
     display: none;
   }

   .slogan {
     border-bottom: 1px solid $light-trans-grey;
   }

   .header-button {
     #deploy-in-five {
       display: inline;
     }
   }

   #about-electrode {
     display: none;
   }

   .header-mountains {
     img {
       padding-top: 75px;
     }
   }
}

@media (max-width: 767px) {

  #header-intro-paragraph,
  #desktop-modules-content,
  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }

   img.header-logo {
     height: 120%;
     margin-top: 0;
   }

   div#mobile-logo-text {
   }
   .header-mountains {
     img {
       padding-top: 0;
     }
   }
}

@media (min-width: 768px) {
   .pillars-section-2-mobile,
   .mobile-footer-toggle,
   .mobile-footer,
   .mobile-pillar-bar,
   li.mobile-header-links,
   ol.mobile-header-links,
   #mobile-pillar-content-zone {
     display: none;
   }

   .social-nav-links {
     padding-right: 5px;
   }

  #electrode-core-text {
    div {
      padding-bottom: 3%;
    }
  }
}



///////begin 



@media(min-width: 768px){
  #top-header {
    height: 98px;
  }
  #electrode-nav {
    height: 100%;
  }
}

//START MOBILE VIEW


@media (min-width: 768px) {
   .pillars-section-2-mobile,
   .mobile-footer-toggle,
   .mobile-footer,
   .mobile-pillar-bar,
   li.mobile-header-links,
   ol.mobile-header-links,
   #mob-header-text-container,
   #mob-header-text,
   #mobile-nav-ul,
   #mobile-pillar-content-zone,
   #mobile-social-link-row,
   #mobile-started-link {
     display: none;
   }

   .social-nav-links {
     padding-right: 5px;
   }

  #electrode-core-text {
    div {
      padding-bottom: 3%;
    }
  }
}

@media (max-width: 767px) {

  #header-intro-paragraph,
  #desktop-modules-content,
  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }

   img.header-logo {
     height: 120%;
     margin-top: 0;
   }

   div#mobile-logo-text {
   }
   .header-mountains {
     img {
       padding-top: 0;
     }
   }
}


@media (max-width: 480px) {

  div#mobile-slogan {
    font-size: 21px;
  }
  .header-content .get-started {
    font-size:14px;
    font-weight:bold;
  }
  .header-content .header-button {
    width: 100%;
  }
   .header-mountains {
     img {
       padding-top: 0;
     }
   }
}

@media (max-width: 380px) {

  img.header-logo {
    height: 80%;
  }

  div#mobile-slogan {
    font-size: 18px;
  }

}

.mobile-social-links {
  height: 20px;
  width: auto;
}

.mobile-git {
  height: 30px;
  width: auto;
}

.mobile-internal-links {
  padding: 10px 0;
}

.module-testbox {
  margin-top: 10px;
  margin-left: -30px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#module-icon {
  filter: grayscale(100%);
  height: 100px;
  width: 100px;
}



//Mobile header styles

@media (max-width: 767px) {
   .pillars-section-2,
   .electrode-core,
   .electrode-tools,
   .electrode-modules,
   #desktop-nav-ul,
   #second-nav,
   #electrode-modules,
   #modules-section,
   #electrode-footer,
   #social-header-color-links {
    display: none;
   }

   #snippet-bubble {
     height: auto;
     margin-bottom: 12px;
     text-align: center;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 12px;

     h4 {
       padding-top: 5px;
       font-size: 18px;
       font-family: Gotham-Rounded-Medium;
     }

     padding-left: 20px;
     padding-right: 20px;

     h4 {
       font-size: 18px;
     }

     .snippet-bubble-text {
      font-size: 15px;
      margin-top: 10px;
      text-align: left;
      margin-bottom: 10px;
      padding: 0;
     }
   }




   .header-button {
     #deploy-in-five {
       display: inline;
     }
   }
}

@media(max-width: 767px) {

  #mobile-social-link-row {
    padding: 40px 0 10px 0;

    .mobile-social-logo:hover {
      color: #df2375;
    }
    .mobile-social-logo{
      width: 55%;
    }  

    #pocket-logo {
      margin-top: 25px;
    }

    #twitter-logo {
      margin-top: 25px;
    }

    #github-logo {
      margin-top: 20px;
    }
  }

  img.header-logo {
    display: none;
  }

  .mobile-oval {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.2);

    &:hover {
      transform: scale(1.2);
    }
  }

  .mobile-header-line {
    width: 90%;
    height: 1px;
    margin: 10px 0 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .mobile-social-logo {
    object-fit: contain;
    margin-bottom: -23px;
  }

  .mobile-social-header-links {
    margin: 0 auto;
  }

  div#mob-header-text-container {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    a:hover {
      cursor: pointer;
    }
  }

  img#mobile-dropDown-logo {
    height: 36px;
    width: auto;
    margin-top: -5px;
  }

  p#mobile-header-text {
    padding-top: 10px;
  }

  #mobile-nav-ul {

    font-size: 18px;
    li {
      a {
        font-size: 60px;
        font-weight: 600;
        font-family: "Gotham-Rounded";
        margin-left: 20px;
        line-height: 2;

        &:hover {
          color: #df2375;
          background-color: #000e23;
        }


      }
    }
  }
}