<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/electrode.css">
</head>
<body>

    <div class="nav-main">
      <div class="row">
	    <div class="col-md-2 col-md-offset-1">
        <a class="nav-home" href="http://walmartlabs.com"><span class="logo-orange">@</span><span class="logo-blue">Walmart</span><span class="logo-orange">Labs</span></a>
	    </div>

        	<div class="col-md-3 col-md-offset-4">
		        <ul class="nav-site nav-site-index">
		          <li><a href="{{ site.baseurl }}/docs/what_is_electrode.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} class="active"{% endif %}>HOME</a></li>
		          <li><a href="{{ site.baseurl }}/docs/what_is_electrode.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} class="active"{% endif %}>DOCS</a></li>
		          <li><a href="{{ site.baseurl }}/docs/what_is_electrode.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} class="active"{% endif %}>CONTRIBUTE</a></li>
		        </ul>
		    </div>
	        <div class="col-md-2">
		        <ul class="nav-site nav-site-index">
		          <li><a href="https://github.com/electrode-io">A</a></li>
		          <li><a href="https://github.com/electrode-io">B</a></li>
		          <li><a href="https://github.com/electrode-io">C</a></li>
		        </ul>
		    </div>
      </div>
	</div>

	<div class="container landing-text"> 
		<div class="inner-text">
			<h1>electr<img class="landing-logo" src="/img/electrode-02.png" width="45" height="45" style="margin-bottom: 5px;">de</h1>
			<h3>UNIVERSAL REACT/NODE.JS APPLICATION PLATFORM</h3>
			<div>Electrode is a platform for building universal React/Node.js applications with standardized structure, best practices, and modern technologies baked in. Electrode focuses on performance, component reusability, and simple deployment to multiple cloud providers - so you can focus on what makes your app unique.</div>
			<button class="btn">GET STARTED - DEPLOY IN 5 MINUTES</button>
		</div>
	</div>

	<div class="row landing-paragraphs">
		<div class="col-md-4">
			<img src="/img/placeholder2.png" width="50" height="50"/>
			<h3>CORE</h3>
			<div>Build a simple, flexible scaffold in minutes, with support for server-side rendering and easy deployment to multiple could providers. Electrode lets you focus on code, not configuration. <a href="#">Learn More.</a></div>
		</div>
		<div class="col-md-4">
			<img src="/img/placeholder2.png" width="50" height="50"/>
			<h3>MODULES</h3>
			<div>Level up your app with features like above-the-fold rendering, server-side render caching, and stateless CSRF validation. Modules work with your existing React/Node app - no need to emigrate to Electrode core. <a href="#">Learn More.</a></div>
		</div>
		<div class="col-md-4">
			<img src="/img/placeholder2.png" width="50" height="50"/>
			<h3>TOOLS</h3>
			<div>Discover reusable components and optimize your JS bundle with standalone tools. These tools can be used with any React/Node app, but work best with the structure provided by Electrode Core. <a href="#">Learn More.</a></div>
		</div>
	</div>

</body>
</html>