{% assign page_ids = include.page_id | split: '.' %}

{% for doc in site.docs %}
  {% assign filename = doc.id | replace_first: '/docs/', ''  %}
  {% assign tokens = filename | split: '-' %}
  {% assign ids = tokens.first | split: '.' %}
  {% if ids.first == page_ids.first %}
    <li>
    {% if ids.size == 3 %}
      <ul><li>
    {% endif %}

    <a href="{{ site.baseurl }}/{{ doc.permalink }}"{% if page.id == doc.id %} class="active"{% endif %}> &nbsp; {{ doc.title }}</a>

    {% if ids.size == 3 %}
      </li></ul>
    {% endif %}
    </li>
  {% endif %}
{% endfor %}
