<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | Electrode</title>
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="{{ page.title }} | Electrode">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://electrode-io.github.io/{{ page.url }}">
  <meta property="og:image" content="https://electrode-io.github.io/img/logo_og.png">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="fb:app_id" content="623268441017527">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon-64.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/electrode-docs.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">

  <script src="//use.typekit.net/vqa1hcx.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Add GA for all github pages -->
  {% include analytics.html %}

  <!--[if lte IE 8]>
  <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
  <script src="{{ site.baseurl }}/js/es5-shim.min.js"></script>
  <script src="{{ site.baseurl }}/js/es5-sham.min.js"></script>
  <![endif]-->

</head>
<body>

  <div class="container-fluid" id="main-container">
    <div class="container" id="top-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <nav class="navbar navbar-static-top electrode-nav-top inverse-colors">
            <div id="electrode-nav" class="container-fluid">
              <ul class="nav navbar-nav">
                <div class="navbar-header">
                  <button type="button" id="mob-menu-button" onClick="changeMobileNav()" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <img id="mob-header-icon" class="mob-menu" src="../img/mob-menu.svg" alt="">
                  </button>
                  <a class="navbar-brand electrode-brand-top" href="#">
                    <img class="header-logo" id="nav-electrode-logo" src="../img/electrode-logo.svg"
                         alt="">
                  </a>
                </div>
              </ul>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- desktop header -->
                <ul id="social-header-color-links" class="nav navbar-nav navbar-right social-nav-links">
                  <div class="vert-divider"></div>
                  <li>
                    <a href="https://getpocket.com/">
                      <img src="https://host-logos.firebaseapp.com/dotio/pocket_@1x.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/electrode_io">
                      <img src="https://host-logos.firebaseapp.com/dotio/twitter_@1x.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/electrode-io">
                      <img src="https://host-logos.firebaseapp.com/dotio/github_@1x.png" alt="">
                    </a>
                  </li>
                </ul>

                <ul id="desktop-nav-ul" class="nav navbar-nav navbar-right primary-nav-links">
                  <li id="home-primary"><a href="/">HOME</a></li>
                  <li><a href="https://github.com/electrode-io">CONTRIBUTE</a></li>
                </ul>

                <!-- mobile dropdown menu -->
                <ul id="mobile-nav-ul" class="nav navbar-nav navbar-right secondary-nav-links">
                  <li id="home-primary" class="mobile-nav-links"><a href="">Home</a></li>
                  <div class="mobile-header-line"></div>
                  <li class="mobile-nav-links"><a href="https://github.com/electrode-io">Contribute</a></li>
                  <div class="mobile-header-line"></div>
                  <li id="mobile-started-link" class="mobile-nav-links"><a href="/docs/get_started.html">Get Started</a></li>
                  <div class="mobile-header-line"></div>
                </ul>

                <div id="mobile-social-link-row" class="row">
                  <div class="col-xs-4 col-sm-4">
                    <div class="mobile-social-header-links mobile-oval">
                      <a href="https://getpocket.com/">
                        <img class="mobile-social-logo" id="pocket-logo" src="../img/sm-pocket.svg"/>
                      </a>
                    </div>
                  </div>

                  <div class="col-xs-4 col-sm-4">
                    <div class="mobile-social-header-links mobile-oval">
                      <a href="https://twitter.com/electrode_io">
                        <img class="mobile-social-logo" id="twitter-logo" src="../img/sm-twitter.svg"/>
                      </a>
                    </div>
                  </div>

                  <div class="col-xs-4 col-sm-4">
                    <div class="mobile-social-header-links mobile-oval">
                      <a href="https://github.com/electrode-io">
                        <img class="mobile-social-logo" id="github-logo" src="../img/sm-github.svg"/>
                      </a>
                    </div>
                  </div>
                </div>
                <br>
                <div id="mob-header-text-container">
                  <p id="mob-header-text"><b>Built with ♡ by </b>
                    <a href="http://walmartlabs.com"><img id="mobile-dropDown-logo" src="../img/walmart-labs-1-white.svg" alt=""></a>
                  </p>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    {% if page.id == 'home' %}
    <div class="hero">
      <div class="wrap">
        <div class="text"><strong>Electrode</strong></div>
        <div class="minitext">
          {{ site.description }}
        </div>

        <div class="buttons-unit">
          <a href="{{ site.baseurl }}/docs/getting-started.html" class="button">Get Started</a>
        </div>
      </div>
    </div>
    {% endif %}

    {{ content }}

    <footer class="wrap">
      <div class="left">
        <a href="https://github.com/orgs/electrode-io/people" target="_blank">Acknowledgements</a>
      </div>
      <div class="right">
        &copy; {{ site.time | date: '%Y' }} <a href="http://walmartlabs.com" target="_blank">WalmartLabs</a><br>
        Apache-2.0 license.
      </div>
    </footer>
  </div>
  <div id="fb-root"></div>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../scripts/mob-nav.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
  <!--
    TODO: analytics js, etc.
  -->
</body>
</html>